# Binaries 
log_test
cmac_example
de_personalize
gatekeeper
keydiversification_test
mifare-desfire-access
personalize
pre_personalize
pthread_example
read_personalized
req_test

# Configs that contain sensitive info
pre-personalize_config.h
smart_node_config.h
dumb_node_config.h
pre-personalize_config.c
smart_node_config.c
dumb_node_config.c

