#include "dumb_node_config.h"

const uint8_t nfclock_aid[3] = { 0x37, 0x13, 0x03 };
const uint8_t nfclock_uid_keyid = 0x01;
const uint8_t nfclock_uid_key[16] = { 0xDE, 0xAD, 0xBA, 0xBE, 0xDE, 0xAD, 0xBA, 0xBE, 0xDE, 0xAD, 0xBA, 0xBE, 0xDE, 0xAD, 0xBA, 0xBE };
const uint8_t nfclock_sysid[3] = { 0x71, 0x55, 0x17 };

