#include <stdint.h>
const uint8_t nfclock_aid[3] = { 0x03, 0x13, 0x37 };
const uint8_t nfclock_uid_keyid = 0x01;
const uint8_t nfclock_uid_key[16] = { 0xDE, 0xAD, 0xBA, 0xBE, 0xDE, 0xAD, 0xBA, 0xBE, 0xDE, 0xAD, 0xBA, 0xBE, 0xDE, 0xAD, 0xBA, 0xBE };
