#include "dumb_node_config.h";
#include "smart_node_config.h";
// Application Master Key (ID 0x0 after application has been selected)
const uint8_t nfclock_amk[16] = { 0xDE, 0xAD, 0xBE, 0xEF, 0xDE, 0xAD, 0xBE, 0xEF, 0xDE, 0xAD, 0xBE, 0xEF, 0xDE, 0xAD, 0xBE, 0xEF };
// Card Master Key (ID 0x0 before application has been selected [or after selecting application 0x0])
const uint8_t nfclock_cmk[16] = { 0xC0, 0xFF, 0xFE, 0xEE, 0xC0, 0xFF, 0xFE, 0xEE, 0xC0, 0xFF, 0xFE, 0xEE, 0xC0, 0xFF, 0xFE, 0xEE };
