#include "smart_node_config.h"

nfclock_acl_file_id = 0x0;
nfclock_mid_file_id = 0x1;
nfclock_acl_write_key_base = { 0xFE, 0xED, 0xDE, 0xED, 0xFE, 0xED, 0xDE, 0xED, 0xFE, 0xED, 0xDE, 0xED, 0xFE, 0xED, 0xDE, 0xED };
nfclock_acl_read_key_base = { 0xCA, 0xFF, 0xFE, 0xEE, 0xCA, 0xFF, 0xFE, 0xEE, 0xCA, 0xFF, 0xFE, 0xEE, 0xCA, 0xFF, 0xFE, 0xEE };
nfclock_acl_write_keyid = 0x03;
nfclock_acl_read_keyid = 0x02;
